
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
    </tr>

</table>

<button class="btn btn-outline-primary">Yeni Kategori Kaydet</button>

