
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    @using(Html.BeginForm("Index","QR",FormMethod.Post))
            {
                <input type="text" name="kod" />
                <input type="submit" value="Qr Oluştur" />

            }
    <br />
    @if (ViewBag.qrcodeimage !=  null)
    {
        <img src="@ViewBag.qrcodeimage " alt="" style="width:400px; height:400px;" />
    }
</div>

