@using MvcOnlineAutomationProject.Models.EntityFramework
@model List<Bill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Seri Numarası</td>
        <td>Vergi Dairesi</td>
        <td>Teslim Alan</td>
        <td>Alıcı</td>
        <td>Tarih</td>
        <td>Saat</td>
        <td>Tutar</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

